// --- General styles ----------------------------------------------------------

::selection {
  background: lighten(rebeccapurple, 40%);
}

.page {
  position: relative;
  width: 1200px;
  margin: 3em auto;
  background-color: @color-background;
  box-shadow: 0 0 100px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(0, 0, 0, 0.03);
  -webkit-font-smoothing: antialiased;
}

.heading {
  text-align: center;

  &__text {
    display: inline-block;
    margin: 0.6em 0 0.5em;
    color: @color-purple;
    font-size: 4rem;
    font-style: italic;
    font-weight: 400;
    font-family: 'Times New Roman';
    cursor: pointer;
  }
}

// --- Shared mixins -----------------------------------------------------------

.img-center-norepeat-contain() {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
