html,
body {
  margin: 0;
  padding: 0;
}

a,
button,
input,
label,
select,
canvas {
  touch-action: manipulation;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  &:active,
  &:focus {
    // Disable Firefox dotted outline
    outline: none !important;
  }
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
