@color: purple;

.page {
  width: 1200px;
  margin: 2em auto;
  background-color: rgb(240, 240, 240);
  overflow: hidden;
  box-shadow: 0 0 100px 20px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  font-size: 48pt;
  font-style: italic;
  font-weight: 400;
  font-family: 'Times New Roman';
  margin: 0.6em 0 0.5em;
  color: @color;
}

.canvas-wrapper {
  border: 5px solid @color;
  border-left: 0;
  border-right: 0;

  canvas {
    display: block;
    cursor: crosshair;
  }
}

.button {
  padding: 1em;
  float: left;
  background-color: rgb(247, 247, 247);
  user-select: none;

  &:not(:last-child) {
    margin-right: 1em;
  }

  &:hover {
    cursor: pointer;
    color: white;
    background-color: @color;
  }

  &--active {
    background-color: @color!important; // TODO: refactor important
    color: white
  }
}

.panel {
  @heading-size: 32%;

  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;

  &__group {
    height: 100%;
    width: 25%;
  }

  &__heading {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: @heading-size;
  }

  &__content {
    display: flex;
    height: 100% - @heading-size;
  }

  &__button {
    .button;
    border: 0;
    outline: 0;
    padding: 0 1em;
    margin: 1em;

    &:not(:first-child) {
      margin-left: 0em;
    }
  }
}

.stats {
  height: 100%;
  width: 100%;

  th {
    text-align: left;
  }

  td {
    text-align: right;
  }

  td, th {
    padding: 0 0.5em;
  }
}

.slider {
  width: 200px;
  height: 100px;
  background-color: red;
  border: 3px solid blue;
  overflow: hidden;
  display: flex;

  &__button {
    width: 30px;
    height: 100%;
    background-color: lightblue;
    border: 0;
    margin: 0;
    outline: 0;
    overflow: hidden;

    &:active {
      background-color: red;
    }
  }

  &__button-background {
    .img-arrow;
    width: 100%;
    height: 100%;

    &--left {
      transform: rotate(180deg);
    }
  }

  &__items-view {
    flex: 1;
    height: 100%;
    overflow: hidden;
  }

  &__items-wrapper {
    height: 100%;
    white-space: nowrap;
    transition: transform 0.3s cubic-bezier(0.5, 2.2, 0.4, 0.3);
  }

  &__item {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: orange;
  }
}
