@color-purple: purple;
@color-white: rgb(247, 247, 247);
@color-background: rgb(240, 240, 240);
@color-border: rgba(0, 0, 0, 0.03);

@animation-bounce: cubic-bezier(0.5, 2.2, 0.4, 0.3);

.page {
  width: 1200px;
  margin: 2em auto;
  background-color: @color-background;
  box-shadow: 0 0 100px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid @color-border;
}

h1 {
  text-align: center;
  font-size: 48pt;
  font-style: italic;
  font-weight: 400;
  font-family: 'Times New Roman';
  margin: 0.6em 0 0.5em;
  color: @color-purple;
}

.content {
  @content-border-size: 5px;
  @page-border-size: 1px;

  margin: @content-border-size 0;
  position: relative;
  width: 1200px;
  height: 600px;

  &__slider {
    height: 100%;
    white-space: nowrap;
    transition: transform 0.5s @animation-bounce;
    // transform: translateX(-100%);
  }

  &__canvas {
    display: inline-block;
    cursor: crosshair;
  }

  &__cursors {
    display: inline-block;
    background-color: red;
    width: 100%;
    height: 100%;
  }

  .overlapping-border() {
    content: '';
    position: absolute;
    left: -@page-border-size;
    width: calc(~"100% + " @page-border-size * 2);
    height: @content-border-size;
    background-color: @color-purple;
  }

  &::before {
    .overlapping-border;
    top: -@content-border-size;
  }

  &::after {
    .overlapping-border;
    bottom: -@content-border-size;
  }
}

.button {
  padding: 1em;
  float: left;
  background-color: @color-white;
  user-select: none;

  &:not(:last-child) {
    margin-right: 1em;
  }

  &:hover {
    cursor: pointer;
    color: white;
    background-color: @color-purple;
  }

  &--active {
    background-color: @color-purple!important; // TODO: refactor important
    color: white
  }
}

.panel {
  @heading-size: 32%;

  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;

  &__group {
    height: 100%;
    width: 25%;
  }

  &__heading {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: @heading-size;
  }

  &__content {
    display: flex;
    height: 100% - @heading-size;
  }

  &__button {
    .button;
    border: 0;
    outline: 0;
    padding: 0 1em;
    margin: 1em;

    &:not(:first-child) {
      margin-left: 0em;
    }
  }
}

.stats {
  height: 100%;
  width: 100%;

  th {
    text-align: left;
  }

  td {
    text-align: right;
  }

  td, th {
    padding: 0 0.5em;
  }
}

.slider {
  width: 200px;
  height: 100px;
  background-color: red;
  border: 3px solid blue;
  overflow: hidden;
  display: flex;

  &__button {
    width: 30px;
    height: 100%;
    background-color: lightblue;
    border: 0;
    margin: 0;
    outline: 0;
    overflow: hidden;

    &:active {
      background-color: red;
    }
  }

  &__button-background {
    .img-arrow;
    width: 100%;
    height: 100%;

    &--left {
      transform: rotate(180deg);
    }
  }

  &__items-view {
    flex: 1;
    height: 100%;
    overflow: hidden;
  }

  &__items-wrapper {
    height: 100%;
    white-space: nowrap;
    transition: transform 0.3s @animation-bounce;
  }

  &__item {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: orange;
  }
}

.checkbox {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: 3px solid @color-purple;
  background-color: @color-background;
  user-select: none;

  &__label {
    display: flex;
    flex-direction: row;
    width: 200%;
    height: 100%;
    transition: transform 0.3s @animation-bounce;
    cursor: pointer;
  }

  .caption() {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
  }

  &__caption-off {
    .caption;
    background-color: @color-white;
  }

  &__caption-on {
    .caption;
    background-color: lighten(@color-purple, 10%);
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked + &__label {
    transform: translateX(-50%);
  }
}
