.controls {
  width: 100%;
  padding: 1.2em 0;
  text-align: center;

  &__item {
    display: inline-block;
    vertical-align: top;
    border: @border-thin;
    border-radius: 5px;

    &:not(:first-child) {
      margin-left: 1em;
    }

    &--wide {
      width: 250px;
      height: 70px;
    }

    &--button {
      box-sizing: content-box;
      width: @size-button-width;
      height: @size-button-height;
      background-color: @color-background-button;
      cursor: pointer;
      user-select: none;
    }
  }

  &__canvas {
    cursor: pointer;

    &:active {
      transform: translateY(2px);
    }
  }
}
