.cursors-menu {
  height: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 30px;
  }

  &::-webkit-scrollbar-thumb {
    border-right: 5px solid @color-purple;

    &:hover {
      border-color: lighten(@color-purple, 6%);
    }
  }

  &__heading {
    text-align: center;
    margin-top: 1.2em;
    margin-bottom: 0;
    font-size: 2.5rem;

    .heading-icon() {
      .img-center-norepeat-contain;
      content: '';
      display: inline-block;
      vertical-align: top;
      width: 0.8em;
      height: 1em;
      margin-right: 0.3em;
    }

    &--brushes::before {
      .heading-icon;
      background-image: url('../images/cursors/brushes.svg');
    }

    &--important-patterns::before {
      .heading-icon;
      width: 0.7em;
      transform: translateY(1px);
      background-image: url('../images/cursors/important-patterns.svg');
    }

    &--guns::before {
      .heading-icon;
      background-image: url('../images/cursors/guns.svg');
    }

    &--methuselahs::before {
      .heading-icon;
      background-image: url('../images/cursors/methuselahs.svg');
    }

    &--oscilators::before {
      .heading-icon;
      background-image: url('../images/cursors/oscilators.svg');
    }

    &--puffers::before {
      .heading-icon;
      width: 0.9em;
      transform: translateY(-2px);
      background-image: url('../images/cursors/puffers.svg');
    }

    &--spaceships::before {
      .heading-icon;
      transform: translateY(1px);
      background-image: url('../images/cursors/spaceships.svg');
    }

    &--still-lifes::before {
      .heading-icon;
      transform: translateY(-2px);
      background-image: url('../images/cursors/still-lifes.svg');
    }

  }

  &__cursor-wrapper {
    width: 20%;
    display: inline-block;
    cursor: pointer;
    padding-bottom: 1em;

    &:hover {
      color: @color-purple;
    }
  }

  &__cursor {
    display: block;
    margin: auto;
    user-select: none;
  }

  &__cursor-caption {
    text-align: center;
    margin: 0;
  }
}
