.panel {
  width: 100%;

  &__headings {
    height: 2.7em;
    display: flex;
    flex-direction: row;
  }

  &__heading {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
    font-family: Calibri, Arial;
    font-size: 1.3rem;
  }

  &__controls {
    width: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-align: center;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    border: @border-thin;
    border-radius: 5px;

    &:not(:first-child) {
      margin-left: 1em;
    }

    &--button {
      width: @size-button-width;
      height: @size-button-height;
      background-color: @color-background-button;
      box-sizing: content-box;
      outline: 0;
      padding: 0;
      cursor: pointer;
      user-select: none;

      &:hover {
        color: @color-purple;
      }
    }
  }
}
