.icon {
  display: block;
  font-size: 0.7rem;

  &:hover {
    color: @color-purple;
  }

  &:active {
    padding-top: 2px;
  }

  &::before {
    content: '';
    display: block;
    margin: auto;
    width: 3em;
    height: 3em;
    margin-bottom: 0.2em;
  }

  &--timer-on::before {
    .img-timer-on;
    width: 1.9em;
  }

  &--timer-off::before {
    .img-timer-off;
    width: 2.0em;
  }

  &--timer-faster::before {
    .img-timer-speed;
    transform: scaleX(-1);
    width: 2.2em;
  }

  &--timer-slower::before {
    .img-timer-speed;
    width: 1.5em;
  }

  &--world-smaller::before {
    .img-world;
    width: 1.4em;
  }

  &--world-bigger::before {
    .img-world;
    width: 2.2em;
  }

  &--random::before {
    .img-random;
  }

  &--next::before {
    .img-next;
    width: 2.2em;
  }

  &--clear::before {
    .img-clear;
    width: 1.8em;
  }
}
